.sidebar {
    width: 18%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;

}

.icon h3 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.icon:hover {
    background-color: #f2f2f2;
    border-radius: 10px;
    cursor: pointer;
}

.sidebar hr {
    border: 1px solid grey;
    margin-top: 10px;
}